

body {
    background-image: url(https://cdn.wallpapersafari.com/60/4/eqhLZm.png);
    background-size: cover;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    margin: 4px auto;
}

h1, h2, h3, p {
    max-width: 700px;
    margin: 5px auto;
    padding: 5px;
}

.game {
    margin: 0 auto;
    display: grid;
    gap: 1em;
    max-width: 500px;
    justify-content: center;
    align-content: center;
}

.game > div {
    background: rgb(194, 221, 231);
    padding: 1em;
}

.guess-row > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 1em;
    vertical-align: top;
}

.reveal {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.reveal > div {
    border-radius: 50%;
    max-width: 20px;
    max-height: 20px;
    padding: 4px;
    margin: 4px; 
}

.guess-row > div > div {
    height: 50px;
    width: 50px;
    margin: 5px 0 0 0;
}

.guess-row > div > div{
    background: rgb(184, 173, 178);
    border: #333 1px solid;
}

.guess-row > div > div:nth-child(5n) {
    background: rgb(202, 139, 163);
    border: #333 1px solid;
}

#sc1, #sc2, #sc3, #sc4{
    background: rgb(202, 139, 163);
    border: #333 1px solid;
}


img {
    max-width: 50px;
}

button {
    border-radius: 15%;
    background-color: rgb(202, 139, 163);
    border-color:rgb(202, 139, 163);
    margin: 4px;
}