body {
    background:rgb(225, 232, 235);
    text-align: center;
}

h4 {
    margin: 0 auto;
}

h1, h2, h3, p {
    max-width: 700px;
    margin: 5px auto;
    padding: 5px;
}

.game {
    margin: 0 auto;
    display: grid;
    gap: 1em;
    max-width: 500px;
    justify-content: center;
    align-content: center;
}

.game > div {
    background: rgb(194, 221, 231);
    padding: 1em;
}

.guess-row > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 1em;

}

.reveal {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.reveal > div {
    background: white;
    border-radius: 50%;
    max-width: 20px;
    max-height: 20px;
    padding: 4px;
    margin: 4px; 
}

.guess-row > div > div {
    height: 50px;
    width: 50px;
    margin: 5px 0 0 0;
}

.guess-row > div > div:nth-child(odd) {
    background: rgb(202, 139, 163);
    border: #333 1px solid;
}

.guess-row > div > div:nth-child(even) {
    background: rgb(184, 173, 178);
    border: #333 1px solid;
}

img {
    max-width: 50px;
    margin: 6px 0;
    /* padding: 0 2px 0 2px; */
}

#ts1 {
    background-image: url("../ts1.jpeg")
}

